
Enter your email to reset your password
<form action=" <%=initialize_reset_users_url %> " method="post" accept-charset="utf-8">

<label>
  Email:
  <input type="text" name="user[email]" id="user_email">
</label>

  <p><input type="submit" value="Reset email"></p>
</form>